/* Reset the padding and margin settings */
* {
    margin: 0;
    padding: 0;
}
main {
    height: 80vh;
    display: flex;
    flex-direction: row;
    /* Makes the boxes jump to the next row with respect to width */
    flex-wrap: wrap;
}
form {
    height: 10vh;
    margin-top: 75px;
    margin-left: 35px;
    font-size: 18px;
    margin-bottom: 20px;
}
.inputText{
    height: 20px;
    padding: 5px;
}
.board{
    height: fit-content; /* So that the board scales with the amount of tasks */
    width: 23%;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    align-items:stretch;
    overflow-wrap: break-word;
}
.taskInput{
    height: 3vw;
    margin: 20px;
    width: 20vw;
}
.taskForm{
    margin: 0;
    padding: 0;
    width:10vw;
}
.taskFrame{
    background-color:#fff3cd;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
}
p{
    height: 30px;
    font-size: 25px;  
}
.deleteButton{
    height: 20px;
    width: 20px; 
}
.deleteButton::before{
    content: "✕";
}
.taskInputText{
    font-size: 18px;
}