/* Reset the padding and margin settings    */
* {
    margin: 0;
    padding: 0;
}

main {
    height: 80vh;
    display: flex;
    flex-direction: row;
    /* Makes the boxes jump to the next row according to width */
    flex-wrap: wrap;
}

#boardFrame{
    border-top: solid black;
    border-width: 2px;
    padding: auto;


}

form {
    height: 10vh;
    margin-top: 75px;
    margin-left: 35px;
}

#inputText{
    margin: 5px;
}

.board{
    height: fit-content; /* So that the board scales with the amount of tasks */
    width: 23%;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: solid black;


}

.cardInput{
    height: 15px;
    margin: 20px;


}

#taskForm{
    margin: 0;
    padding: 0;
    height: auto;
    width:10vw;

}


.taskFrame{
    background-color:#fff3cd;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

p{
    height: 30px;
}






.deleteButton::before{
    content: "✕";

}