* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#createTitle {
    font-size: medium;
    margin: 1.3em 1.3em 0.4em 1.3em;
}
#undertitle {
    color: #727577;
    margin-left: 1.7em;
    margin-top: 0.3em;
    font-size: small;
}

.Input {
    width: 29.5vw;
    height: 2em;
    margin-top: 0.6em;
    margin-left: 0.7em;
    padding: 3px;
    border: solid 1px #727577;
    border-radius: 5px;
}

hr {
    margin: 0.8em 1.3em;
    background-color: #727577;
    height: 1px;
}

main {
    display: flex;
    flex-flow: row wrap;
}

.Ex::before {
    content: "✕";
    color: #727577;
    font-size: 1.5em; 
    cursor: pointer;
}

.title {
    font-size: xx-large;
    font-weight: 150; 
    color: #3f4346;
}

.card {
    width: 30%;
    height: fit-content;
    border: solid 1px #727577;
    border-radius: 5px;
    margin: 0.3em;
    padding: 1.1em 0.8em 2em;
}

.task {
    /*position: relative;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8em 0;
    padding: 1em;
    font-size: 20px;
    font-weight: 600;
    background-color:#fff4cd;
    color: #6f570e;
    height: auto;
    border-radius: 5px;
}

.dragging {
    opacity: 0.5;
}

.invisible {
    display: none;
}